.upload-area {
    border: 2px dashed #6c757d;
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
    margin-bottom: 1rem;
    transition: all 0.3s;
    background-color: #f8f9fa;
}
.upload-area:hover {
    border-color: #0d6efd;
    background-color: #e9f0ff;
}

.hidden {
    display: none;
}

.image-preview {
    width: 100px;
    height: 70px;
    border-radius: 0.75rem;
    border: 1px solid #ddd;
}
#image-list {
    max-height: 120px;
    overflow-y: auto;
    list-style: none;
}
#image-list li{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem
}

#image-list li .btn-del{
    font-size: 1.2rem;
    padding: 0;
    border: 0;
    color: #dc5d5d;
    background-color: transparent;
    opacity: 0.8;
    transition: opacity 0.3s;
}
#image-list li .btn-del:hover{
    opacity: 1;
}
